@import "../../assets/styles/component.scss";

.nav {
  padding: 16px 0 8px;
  border-bottom: 1px solid $gray;
  display: flex;
  justify-content: space-between;
  &__list {
    display: block;
    padding: 0;
    margin: 0;
    list-style: none;
  }

  &__item {
    display: inline-block;
    padding: 0 15px;
  }

  &__link {
    display: block;
    color: $dark;
    font: 400 16px/1 $font;
    text-decoration: none;
    border-bottom: 1px solid transparent;
    transition: all .3s;
    &:hover {
      border-color: $dark;
      text-decoration: none;
    }
    &:focus {
      text-decoration: none;
    }
    &--active {
      font-weight: 700;
    }
    &--log {

    }
  }

}