@import "../../assets/styles/component.scss";

.info {
  padding-bottom: 21px;

  &__table {
    width: calc(100% - 130px);
    border-collapse: collapse;
    border-spacing: 0;
    margin: 0 0 0 auto;
  }

  &__row {

  }

  &__thead {
    .info__cell {
      text-align: center;
      border-bottom: 1px solid $gray;
      padding: 0px 5px 7px;
    }
  }

  &__cell {
    font: 13px $font;
    color: $dark;
    padding: 2px 0px;
    border-left: 1px solid rgba(#000, .4);
    width: 70%;
    &--head {
      text-align: center;
      border-left: 0;
    }
    &:last-child {
      border-left: 0;
      text-align: center;
      padding-left: 15px;
      padding-right: 15px;
      width: 30%;
    }
    &--first {
      padding-top: 0;
    }
    &--last {
      padding-bottom: 0;
    }
  }

  &__title {
    position: relative;
    padding: 4px 5px 5px;
    display: block;
    z-index: 2;
  }

  &__bg {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    display: block;
    z-index: -1;
    border-bottom-right-radius: 3px;
    border-top-right-radius: 3px;
  }

  &__tfoot {
    .info__cell {
      font-size: 16px;
      font-weight: 700;
      border: 0;
      border-top: 1px solid $gray;
      padding-top: 13px;
    }
  }

}