.input {
  display: block;
  width: 100%;
  border: 1px solid #a9a9a9;
  background: #fff;
  outline: none;
  padding: 5px 15px;
  border-radius: 3px;
  transition: all .3s;
  font-size: 14px; }
  .input:focus {
    border-color: #f2fbff; }

.input-textarea {
  height: 65px;
  resize: none; }

.error {
  border-color: red; }
